.main {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__banner {
        margin-top: 54px;
        max-width: 100%;
        position: fixed;
    }
}