.rating {
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 95%;
    min-height: 120px;
    padding-left: 5%;

    &__image {
        max-width: 80px;
        max-height: 80px;
        margin: 0 5px;
    }

    &__text {
        margin: 0 12px;
    }
}