@import url("../../common/style/color.less");

.header {
    min-height: 54px;
    background-color: @yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    min-width: 100%;
    
    @media (max-width: 1025px) {
        min-height: 40px;
        overflow: hidden;
    }

    &__logo {
        position: absolute;
        z-index: 5;
        left: 84px;
        top: 0;
        width: 96px;
        height: 144px;
        background-image: url('../../images/bandai-namco-logo.png');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: all 0.23s;

        &_hidden {
            height: 54px;
            background-image: url('../../images/logo-size-s.jpg');

            @media (max-width: 1025px) {
                background-image: url('../../images/bandai-namco-logo.png');
                width: 60px;
                height: 90px;
                top: -32px;
                left: calc(50% - 30px);
            }
        }

        @media (max-width: 1200px) {
            left: 0;
        }

        @media (max-width: 1025px) {
            width: 60px;
            height: 90px;
            top: -32px;
            left: calc(50% - 30px);
        }

        @media (max-width: 770px) {
            left: 60px;
            top: -10px;
            width: 30px;
            height: 45px;
            border-radius: 4px;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: ITCAvantGardeStd-Md, sans-serif;
        font-size: 24px;
        column-gap: 20px;
        height: 100%;
        margin-left: 224px;

        @media (max-width: 1200px) {
            margin-left: 130px;
        }

        @media (max-width: 1025px) {
            margin-left: 16px;
        }
    }

    &__menu-button {
        display: none;
        background-image: url("../../images/burger-menu-button-icon.svg");
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 0;
        border: none;
        width: 28px;
        height: 28px;
        cursor: pointer;
        transition: background-image 0.15s;

        &_active {
            background-image: url("../../images/header-close-icon.svg");
        }

        @media (max-width: 1025px) {
            display: block;
        }
    }

    &__menu-link {
        border: none;
        padding: 0;
        margin: 0;
        color: transparent;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        filter: @svg-white-filter;
        font-size: 21.5px;
        line-height: 32px;
        cursor: pointer;
        transition: all 0.5s;
        vertical-align: middle;

        &:nth-of-type(1) {
            background-image: url("../../images/header-mask-logo-games.svg");
            
            &:hover {
                filter: @svg-black-filter;
            }
        }

        &:nth-of-type(2) {
            background-image: url("../../images/header-mask-logo-store.svg");

            &:hover {
                filter: @svg-dark-red-filter;
            }
        }

        &:nth-of-type(3) {
            background-image: url("../../images/header-mask-logo-news.svg");

            &:hover {
                filter: @svg-dark-blue-filter;
            }
        }

        &:nth-of-type(4) {
            background-image: url("../../images/header-mask-logo-epic.svg");
            
            &:hover {
                filter: @svg-dark-purple-filter;
            }
        }

        &:nth-of-type(5) {
            background-image: url("../../images/header-mask-logo-support.svg");

            &:hover {
                filter: @svg-black-filter;
            }
        }

        @media (max-width: 1025px) {
            display: none;
        }
    }

    &__search-menu {
        display: flex;
        align-items: center;
        margin-right: 85px;

        @media (max-width: 1025px) {
            margin-right: 10px;
        }
    }

    &__search-container {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__search-input {
        font-family: ITCAvantGardeStd-Md, sans-serif;
        font-size: 16px;
        padding: 6px 44px 6px 12px;
        min-width: 250px;
        min-height: 22px;
        outline: none;
        border: none;
        border-radius: 4px;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__search-button {
        position: absolute;
        height: 32px;
        width: 34px;
        right: 2px;
        mask-image: url('../../images/search-icon.svg');
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url('../../images/search-icon.svg');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        background-color: @yellow;
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.7;
        }

        @media (max-width: 1200px) {
            mask-image: url('../../images/search-icon-white.svg');
            -webkit-mask-image: url('../../images/search-icon-white.svg');
            background-color: @white;
        }
    }

    &__search-menu-button {
        height: 32px;
        width: 34px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        filter: @svg-white-filter;
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.7;
        }

        &:first-of-type {
            background-image: url('../../images/mail-icon.svg');
            margin-left: 10px;

            @media (max-width: 1200px) {
                height: 36px;
                width: 36px;
                margin-left: 0;
            }
        }

        &:last-of-type {
            background-image: url('../../images/profile-icon.svg');
        }
    }
    
    &__search-menu-button-decor {
        margin: 0 10px;
        height: 24px;
        width: 1px;
        background-color: @white;

        &_first {
            display: none;

            @media (max-width: 1200px) {
                display: block;
            }
        }
    }
}